.container {
    border-top: 1px solid #475569;
    cursor: pointer;
    position: sticky;
    top: 2rem;
}

.rowCell {
    /* width: 250px; */
    padding: 1rem .75rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .rowCell:first-child {
    background-color: #1e293b;
} */

.hiddenRow {
    transition:
        opacity .5s,
        height 1s;
}

@media (prefers-color-scheme: light) {
    .container:not(:first-child) {
        border-top: 1px solid #cbd5e1;
    }
    .container {
        border-top: 1px solid #e2e8f0;
    }
}
