.container {
    position: sticky;
    top: 0;
    z-index: 5;
    height: 2rem;
    /* background-color: #1e293b; */
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media (prefers-color-scheme: light) {
    .container {
        /* background-color: #e2e8f0; */
        background: linear-gradient(#f0f4f9 0%, #f1f4f6 25%, #f1f4f6 50%, #e2e8f0 100%);
    }
}

.tableHeaderCell {
    padding: 1px 5px;
    text-align: left;
    font-weight: bold;
}
