.container {
    width: 100%;
    overflow: scroll;
    height: 100%;
    text-align: left;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    position: relative;
}

.tableContent {
    table-layout: fixed;
    width: 100%;
    /* height: calc(100% - 1rem - 55px); */
    border-collapse: collapse;
}
