.navigation a {
    padding: 5px;
    margin-right: 5px;
}

.navigation a:hover {
    color: #d97706;
    border-bottom: 2px solid blue;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    /* border: 1px solid red; */
}

.authBtn {
    display: flex;
}

.authBtn button:not(:first-child) {
    margin-left: 5px;
}
